.container {
  --container-width: 100%;
  width: var(--container-width); 
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container {
    --container-width: 640px; 
  }
}

@media only screen and (min-width: 768px) {
  .container {
    --container-width: 768px; 
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    --container-width:  1024px; 
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    --container-width: 1280px; 
  }
}

@media only screen and (min-width: 1536px) {
  .container {
    --container-width: 1536px; 
  }
}
