* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  font-size: 100%;
  font-smoothing: antialised;
  line-height: 1.1;
  letter-spacing: 0em;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
