.personal-website {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
}

#header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h1 {
  font-size: 2rem;
}

#main-content {
  flex-grow: 1;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}

.menu-button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 5;
}

.menu-button .line {
  position: relative;
  display: block;
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--yellow);
  pointer-events: none;
  transition: all .5s ease-in-out;
}

.menu-button.open .line {
  background-color: var(--black);
  transition: all 0.2s ease-in-out;
}

.top {
  bottom: calc(20px / 3);
}

.bottom {
  top: calc(20px / 3);
}

.menu-button.open .middle {
  opacity: 0;
}

.menu-button.open .bottom {
  animation: bottom-bar-open .9s;
  animation-fill-mode: forwards;
}

.menu-button.open .top {
  animation: top-bar-open .9s; 
  animation-fill-mode: forwards;
}

.menu-button.closed .bottom {
  animation: bottom-bar-close .9s;
  animation-fill-mode: forwards;
}

.menu-button.closed .top {
  animation: top-bar-close .9s;  
  animation-fill-mode: forwards;
}

@keyframes top-bar-open {
  50% {
    transform: translateY(12px) rotate(0deg);
  }

  100% {
    transform: translateY(12px) rotate(-50deg);
  }
}

@keyframes top-bar-close {
  0% {
    transform: translateY(12px) rotate(-50deg);
  }

  50% {
    transform: translateY(12px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes bottom-bar-open { 
  50% {
    transform: translateY(-12px) rotate(0deg);
  }

  100% {
    transform: translateY(-12px) rotate(50deg);
  }
}

@keyframes bottom-bar-close {

  0% {
    transform: translateY(-12px) rotate(50deg);
  }

  50% {
    transform: translateY(-12px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

#navigation.opened {
  clip-path: circle(200% at calc(10px) 42px);
  transition: all 0.7s ease-in-out; 
}

#navigation {
  background-color: var(--yellow);
  position: absolute;
  --container-lateral-space: calc(calc(100vw - var(--container-width)) / 2);
  --left-space: calc(var(--container-lateral-space) + var(--container-width));
  --right-margin-negative: calc(32px + 25px);
  --calculated-location: calc(var(--left-space) - 57px);
  inset: 0;
  clip-path: circle(0px at var(--calculated-location) 42px);
  transition: all 0.3s ease-in-out; 
}

#navigation {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.menu-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-list__item a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-list__item a:hover {
  text-decoration: underline;
}
